.background1{
    border: 8px groove greenyellow;
    height: 2000px;
    background-image: url(./sky.jpg);
    background-size: cover;
    padding: px;

}
.box1{
    background-color: black;
    border: 5px solid red;
    border-radius: 30px;
    font-style: italic;
    color: white;
    padding: 25px;
    width: 300px;
    height: 90px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 14px;
    position: relative;
    
}
.box2{
    background-color: black;
    border: 5px solid red;
    border-radius: 30px;
    font-style: italic;
    color: white;
    padding-top: 31px;
    padding-left: 45px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 220px;
    margin-top: -129px;
    width: 336px;
    height: 35px;
    position: relative;
}
.box3{
    background-color: black;
    border: 5px solid red;
    border-radius: 37px;
    font-style: italic;
    color: white;
    padding: 15px;
    width: 400px;
    height: 150px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 895px;
    margin-top: -88px;
    position: relative;
    text-align: center;
}
.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    font-style: italic;
    text-decoration: underline;
    border: 5px solid gray;
    background-color:darkcyan;
    margin-top: 247px;
    position: relative;
    padding: 38px;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
}


.offer{
    margin-top: 55px;
    width: 343px;
    margin-left: -18px;
    font-size: 21px;
}
.line1{
    width: 368px;
    margin-left: -17px;
    margin-top: 28px;
}
.line2{
    width: 371px;
    margin-left: -19px;
    margin-top: 19px;
}
.form1{
    border: 10px dashed red;
    background-color: white;
    color: red;
    font-size: 20px;
    font-weight: bold;
    width: 400px;
    height: 700px;
    text-align: center;
    padding: 20px;
    margin-left: 647px;
    margin-top: -574px;
}
.box4{
    background-color: black;
    border: 5px solid red;
    border-radius: 30px;
    font-style: italic;
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: 578px;
    text-align: center;
    padding: 20px;
    margin-top: 116px;
    margin-left: 405px;
}
.card1{
    border: 3px solid green;
    background-color: aqua;
    border-radius: 25px;
    width: 400px;
    text-align: center;
    margin-left: 20px;
    color: purple;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin: 20px;
    margin-left: 50px;
}